In [18]:
import numpy
import pandas

train = pandas.read_csv(r'C:\Users\JYellin\re_1\tacred\results\general\train-ud_paths_v0.0.5.csv')

In [23]:
relation_to_lemmas = {}

relations = train[train['relation']!='no_relation']['relation'].unique().tolist()


for relation in relations:
    lemmas = train[train['relation']==relation]['lemmas_on_path'].tolist()
    relation_to_lemmas[relation] = lemmas

In [3]:
path_counts = train_ucca[train_ucca['relation']!='no_relation'].groupby(['path'])['id'].count().reset_index().rename(columns={'id': 'total'}).sort_values(['total'], ascending=[False]).reset_index(drop=True)
relation_counts = train_ucca[train_ucca['relation']!='no_relation'].groupby(['relation'])['id'].count().reset_index().rename(columns={'id': 'total'}).sort_values(['total'], ascending=[False]).reset_index(drop=True)

In [4]:
paths = path_counts['path'].tolist()
relations = relation_counts['relation'].tolist()
matrix_count = numpy.zeros((path_counts.shape[0], relation_counts.shape[0]), dtype=numpy.int32)
matrix_existence = numpy.zeros((path_counts.shape[0], relation_counts.shape[0]), dtype=numpy.int32)

In [6]:
helper = train_ucca[train_ucca['relation'] != 'no_relation'].groupby(['path','relation'])

def get_path_and_relation_count(path, relation):
    key = (path, relation)
    
    if key in helper.groups:
        return helper.get_group(key).shape[0]
    else:
        return 0

In [7]:
for path_index, path in enumerate(paths):
    for relation_index, relation in enumerate(relations):
        count = get_path_and_relation_count(path, relation)
        matrix_count[path_index,relation_index] = count
        matrix_existence[path_index,relation_index] = int(count>0)

In [13]:
path_to_relation_count = pandas.DataFrame(data=matrix_count, index=paths, columns=relations)
path_to_relation_existence = pandas.DataFrame(data=matrix_existence, index=paths, columns=relations)

In [14]:
path_to_relation_existence['sum'] = path_to_relation_existence.sum(axis=1)

In [15]:
path_to_relation_existence_unique = path_to_relation_existence[path_to_relation_existence['sum'] == 1]

In [17]:
path_to_relation_existence.shape

(2083, 42)

In [129]:
path_counts[path_counts['total']>1]

                                                   path  total
0                                   <compound >compound    430
1                                <compound <nsubj <ROOT    254
2                                       <compound >amod    237
3                                    <det >appos >punct    143
4                                >ROOT >nsubj >compound    141
...                                                 ...    ...
1096                         <amod <dobj >nmod:in >case      2
1097                  <acl:to <dobj <ccomp >nsubj >amod      2
1098                      >ROOT >nmod:as >nmod:for >det      2
1099                         <amod <appos <nsubj >punct      2
1100  <case <nmod:of <nmod:with <nmod:in <dobj <ccom...      2

[1101 rows x 2 columns]